<div class="div-content">
  <img *ngIf="student" [src]="student.image" class="image-location" alt="">
  <div>
    <h2>Student details!</h2>
  </div>
  <form name="personForm" #personForm="ngForm" *ngIf="student">
    <div class="div-input">
      <label class="label-input" for="">Full Name:</label>
      <input class="input-form" type="text" #fullName="ngModel" name="fullName" [(ngModel)]="student.fullName" placeholder="Full Name"
        required>
    </div>
    <div class="div-input">
      <label class="label-input" for="">Average:</label>
      <input class="input-form" type="number" #averageGrade="ngModel" name="averageGrade" [(ngModel)]="student.averageGrade" placeholder="Average"
        required>
    </div>
    <div class="div-input">
      <label class="label-input" for="">Delivered Homeworks:</label>
      <input class="input-form" type="number" #deliveredHomeworks="ngModel" name="deliveredHomeworks" [(ngModel)]="student.deliveredHomeworks"
        placeholder="Delivered Homeworks" required>
    </div>
    <div class="div-input">
      <label class="label-input" for="">Missing Homeworks:</label>
      <input class="input-form" type="number" #missingHomeworks="ngModel" name="missingHomeworks" [(ngModel)]="student.missingHomeworks"
        placeholder="Missing Homeworks" required>
    </div>
    <div class="div-input">
      <label class="label-input" for="">Last Update:</label>
      <input class="input-form" type="text" #lastUpdate="ngModel" name="lastUpdate" [(ngModel)]="student.lastUpdate" placeholder="Last Update"
        required>
    </div>


    <!-- <button [disabled]="!personForm.form.valid">submit</button> pristine: {{firstName.pristine}} -->

  </form>

  <div class="div-buttons">
    <button md-raised-button (click)="goBack()">Back</button>
    <button md-raised-button (click)="save()">Save</button>
    <button md-raised-button (click)="add()">{{option}}</button>
  </div>

</div>